/* =====mobile version===== */
@media only screen and (max-width:688px){
  .container{
    width: 100%;
  }
  /* =====nav part===== */
  .menu-ul{
    background-color: #212428e8;
  }
  /* =====banner part===== */
  #home .banner-left{
    padding-top: 40px;
  }
  #home .banner-left h6{
    letter-spacing: 1px;
  }
  #home .banner-left h1{
    font-size: 30px;
    margin: 15px 0;
  }
  #home .banner-left h2{
    font-size: 25px;
  }
  #home .banner-left p{
    font-size: 17px;
    line-height: 26px;
    font-weight: 500;
    text-align: justify;
  }
  #home .banner-left .social-title{
    margin-top: 30px;
  }
  #home .banner-left .social-icon{
    height: 45px;
    width: 45px;
    font-size: 25px;
    line-height: 45px;
  }
  #home .banner-left .hire-btn{
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 500;
  }
  #home .banner-right .banner-img .bnr-img{
    margin-left: 40px;
  }
  
  /* back to top button */
  .down-top a{
    font-size: 25px;
    width: 40px;
    height: 40px;
    bottom: 40px;
  }

  /* services part */
  #service .service-heading{
    text-align: center;
  }
  #service .service-heading h1{
    font-size: 40px;
  }
}

/* =====tablate version===== */

@media only screen and (min-width: 688px) and (max-width: 992px){
  .container{
    width: 100%;
  }
    /* =====nav part===== */
    .menu-ul{
      background-color: #212428e8;
    }
    /* =====banner part===== */
    #home .banner-left{
      padding-top: 60px;
    }
    #home .banner-left h6{
      letter-spacing: 1px;
    }
    #home .banner-left h1{
      font-size: 35px;
      margin: 15px 0;
    }
    #home .banner-left h2{
      font-size: 30px;
    }
    #home .banner-left p{
      font-size: 17px;
      line-height: 26px;
      font-weight: 500;
      text-align: justify;
    }
    #home .banner-left .social-title{
      margin-top: 40px
    }
    #home .banner-left .social-icon{
      height: 45px;
      width: 45px;
      font-size: 25px;
      line-height: 45px;
    }
    #home .banner-left .hire-btn{
      margin-left: 60px;
      padding: 5px 10px;
      font-size: 20px;
      font-weight: 500;
    }
    #home .banner-right .banner-img .bnr-img{
      margin-left: 40px;
    }
    /* services part */
    #service .service-heading{
      text-align: center;
    }
    #service .service-heading h1{
      font-size: 50px;
    }
}