*{
  font-family: 'Montserrat', sans-serif;
}

a{
  display: inline-block;
}

/* nav bar start */
#nav {
  position: fixed;
  z-index: 23;
  width: 100%;
}

.sticky-bg {
  height: 70px;
  background-color: #212428f6;
  animation: sticky 1s;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

@keyframes sticky {
  from {
      top: -50px;
  }

  to {
      top: 0;
  }
}


.menu-item{
  color: #c4cfde !important;
  font-weight: 500 !important;
}
/* nav bar end */

/* banner section start */
#home{
  background-color: #212428;
  color: #c4cfde;
  padding-bottom: 50px;
  padding-top: 80px;
}
#home .banner-left{
  padding-top: 100px;
}
#home .banner-left h6{
  letter-spacing: 2px;
}
#home .banner-left h1{
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  margin: 20px 0;
}
#home .banner-left h1 .name{
  color: #ff014f;
}
#home .banner-left h2{
  font-size: 40px;
  color: #fff;
}
/* typed js */
.typed::after {
	content: '|';
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

#home .banner-left p{
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
}
#home .banner-left .social-title{
  margin-top: 100px;
}

#home .banner-left .social-icon{
  height: 60px;
  width: 60px;
  color: #c4cfde;
  background-color: linear-gradient(145deg, #1e2024, #23272b);
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  margin-right: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}
#home .banner-left .social-icon:last-child{
  margin-right: 0;
}
#home .banner-left .social-icon:hover{
  background-color: #1B1E22;
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
}
#home .banner-left .hire-btn{
  color: #c4cfde;
  margin-bottom: 5px;
  background: linear-gradient(145deg, #1e2024, #23272b);
  border: none;
  border-radius: 5px;
  padding: 7px 15px;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}
#home .banner-left .hire-btn:hover{
  background-color: #1B1E22;
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
}

#home .banner-right .banner-img{
  position: relative;
  z-index: 2;
}
#home .banner-right .banner-img .bnr-img{
  margin-left: 70px;
}
#home .banner-right .banner-img::before{
  position: absolute;
    z-index: -1;
    width: 90%;
    height: calc(97% - 130px);
    content: "";
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #1c1e22,
    -10px -10px 19px #262a2e;
    border-radius: 6px;
}
.dvdr {
  background-color: #000;
  padding: 1px 0;
  margin: 0;
  margin-top: 50px;
}
/* banner section end */

/* services section start */
#service{
  background-color: #212428;
}
#service .service-heading h6{
  color: #ff014f;
  font-size: 16px;
}
#service .service-heading h1{
  font-size: 60px;
  color: #C4CFDE;
  font-weight: 700;
  letter-spacing: 1px;
}
#service .services-item{
  text-align: justify;
}

#service .service-main{
  background-color: #212428;
  color: #fff;
  border: none;
  box-shadow: 10px 10px 19px #1c1e22, -8px -9px 19px #2d3236;
  border-radius: 10px;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#service .service-main:hover{
  background-image: linear-gradient(145deg, #23272b, #1e2024);
  transition: .6s;
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -ms-transition: .6s;
  -o-transition: .6s;
}
#service .service-main:hover .content{
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}
#service .service-main:hover .service-arrow{
  opacity: 1;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
}
#service .services-item a{
  font-size: 50px;
  color: #ff014f;
}
#service .services-item h3{
  color: #C4CFDE;
}
#service .service-arrow{
  opacity: 0;
}
/* services section end */







